<% if RedmineMentions.setting? :show_mention_hint %>
  <%= stylesheet_link_tag 'redmine_mentions.css', :plugin => 'redmine_mentions', :media => 'all' %>

  <p class="redmine-mentions-hint">
    <input type="checkbox" id="redmine_mentions_notify" name="redmine_mentions_notify" value="1" disabled="disabled" checked="checked" />
    <label for="redmine_mentions_notify"><%= l(:label_redmine_mentions_notify) %>
  </p>
<% end %>
