
<p><%= l(:html_you_were_mentioned, :login => @journal.user.login, :created_on => (format_time @journal.created_on, true)).html_safe %></p>

<hr />

<h4><%= link_to "#{@issue.tracker.name} ##{@issue.id}: #{@issue.subject}", issue_url(@issue) %></h4>

<%= textilizable(@journal, :notes, {:headings => false, :only_path => false}) -%>
